/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
* {
    font-family: Philosopher;
   }
   
html, body { height: 100%; width:100%}
body { margin: 0; font-family: Roboto, 'Cinzel Decorative', cursive; } 
