<app-header></app-header>
<br><br><br><br>
<div id="whole">
    <div id="segment">
        <mat-accordion class="example-headers-align">
            <!--Deals panel-->
            <mat-expansion-panel [expanded]="true" (opened)="setStep(0)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Deals</mat-panel-title>
                    <mat-panel-description>Our deals on combo and box orders!</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of deals">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>
                            
                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>
                    </mat-card>
                </div>
            </mat-expansion-panel>

            <!--Pizza panel-->
            <mat-expansion-panel [expanded]="false" (opened)="setStep(1)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Pizzas</mat-panel-title>
                    <mat-panel-description>A selection of our delicious pizza options.</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of pizzas">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>

                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>

                    </mat-card>
                </div>
            </mat-expansion-panel>

            <!--Wings panel-->
            <mat-expansion-panel [expanded]="false" (opened)="setStep(2)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Wings</mat-panel-title>
                    <mat-panel-description>Juicy boneless and bone-in wings with any sauce you want!</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of wings">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>

                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>
                    </mat-card>
                </div>
            </mat-expansion-panel>

            <!--Sides panel-->
            <mat-expansion-panel [expanded]="false" (opened)="setStep(3)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Sides</mat-panel-title>
                    <mat-panel-description>Delicious sides for the whole family!</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of sides">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>

                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>
                    </mat-card>
                </div>
            </mat-expansion-panel>

            <!--Drinks panel-->
            <mat-expansion-panel [expanded]="false" (opened)="setStep(4)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Drinks</mat-panel-title>
                    <mat-panel-description>Assortment of refreshments for every age!</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of drinks">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>

                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>
                    </mat-card>
                </div>
            </mat-expansion-panel>

            <!--Desserts panel-->
            <mat-expansion-panel [expanded]="false" (opened)="setStep(5)" hideToggle>
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Desserts</mat-panel-title>
                    <mat-panel-description>Something for every sweet tooth!</mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" >
                    <!-- initial card -->
                    <mat-card *ngFor = "let fooditem of desserts">
                        <mat-card-title>{{fooditem.name}}</mat-card-title>
                        <span style="float:left;width: 25%;">
                            <img src={{fooditem.url}}>
                        </span>

                        <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                            <p class = "fooddescription" style="min-height: 50%;">
                                {{fooditem.description}}
                            </p>

                            <h3 style="float: left; width: 30%;">Calories: {{fooditem.calories}}</h3>
                            <h3 style="float: right; width: 30%; text-align: right;">Price: {{fooditem.price | currency}}</h3>
                        </span>

                        <mat-action-row>
                            <mat-form-field>
                                <mat-label style="color: white;">Amount</mat-label>
                                <select matNativeControl required id="input_{{fooditem.foodID}}"  style="color: white; background-color:transparent;">
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=1>1</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=2>2</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=3>3</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=4>4</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=5>5</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=6>6</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=7>7</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=8>8</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=9>9</option>
                                    <option style="color: white; background-color:rgb(148, 24, 14, 0.8);" [value]=10>10</option>
                                </select>
                            </mat-form-field>
                            <button name="orderBtn{{fooditem.foodID}}" id="orderButton" mat-button (click)="addToOrder(fooditem)">Order</button>
                        </mat-action-row>
                    </mat-card>
                </div>
            </mat-expansion-panel>
           
        </mat-accordion>
    </div>

    <!-- <mat-divider [vertical]="true"></mat-divider> -->

    <mat-card id="orderList">
        <h3 matLine style="color:white">Order:</h3>
        <mat-list id="orderItems">
            <mat-list-item style="color:white" *ngFor = "let string of orderList">-{{string}}</mat-list-item>
        </mat-list>
        <h3 matLine style="color:white">Total: {{total | currency}}</h3>
        <h6 matLine style="color:white; font-size: 7px;">*before tax</h6>
        <button id="checkOutButton" mat-button (click)="headToCheckOut()" class = "links" routerLinkActive #rla2="routerLinkActive" routerLink="/checkout">Check Out</button>
    </mat-card>
</div>


  <app-footer></app-footer>