<header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</header>

<!-- <footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <p>Angular Slice is a fictional restaraunt created by: Anthony, Bush, Ethan, and William</p>
</footer> -->  

<footer id="sticky-footer" style="position:relative; bottom: 0; width: 100%;">
    <div class="container text-center">
      <small>Angular Slice is a fictional restaraunt created by: Anthony, Bush, Ethan, and William</small>
    </div>
  </footer>