<app-header></app-header>
<br><br>
<body style="width: 100%; height:87%">

<h2>Your Cart</h2>
<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position"> -->
      <!-- <mat-header-cell *matHeaderCellDef> Order No. </mat-header-cell> -->
      <!-- <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell> -->
      <!-- <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell> -->
    <!-- </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name"> -->
      <!-- <mat-header-cell *matHeaderCellDef> Item </mat-header-cell> -->
      <!-- <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell> -->
      <!-- <mat-footer-cell *matFooterCellDef> </mat-footer-cell> -->
    <!-- </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight"> -->
      <!-- <mat-header-cell *matHeaderCellDef> Callories </mat-header-cell> -->
      <!-- <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell> -->
      <!-- <mat-footer-cell *matFooterCellDef>  </mat-footer-cell> -->
    <!-- </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol"> -->
      <!-- <mat-header-cell *matHeaderCellDef> Price </mat-header-cell> -->
      <!-- <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell> -->
      <!-- <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container> -->
<!--   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <!-- <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row> -->
  <!-- </mat-table> -->

  <table class="table table-striped">
    
    <thead>
    <tr >
      <th scope="col" >Items</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
     
      <th scope="col"></th>
     
    </tr>
    </thead>
  
    <tbody>
    <tr *ngFor="let food of foods; index as i" >
      <th scope="row">{{ i + 1 }}</th>
      
      <td>
        <img [src]="'https://www.hungryhowies.com/sites/default/files/styles' + food.image" class="mr-2" style="width: 100px">
      
      </td>
      <td> <h3> {{ food.name }}</h3></td>
      <td><h4> {{ food.callories  }}</h4> </td>
      <td></td>
      <td><h2> {{ food.price  }}</h2> </td>
    </tr>
    </tbody>
 
  </table>

</body>

<app-footer></app-footer>