<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</header>

<app-header></app-header>
<br><br><br><br>
<body id="bodyy">


<mat-card  id="main">
 
  <h2>Your Cart</h2>
  <table class="table table-striped">
    
    <thead>
    <tr >
      <th scope="col">Amount</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope = "col">Price</th>
     
    </tr>
    </thead>
  
    <tbody>
    <tr *ngFor="let fooditem of order; index as i" >
      <th scope="row">{{orderAmounts[i]}}</th>
      
      <td>
        <img src={{fooditem.url}} style="width: 100px; height: 100px;">
      
      </td>
      <td> <h5> {{fooditem.name}} <h6>Calories: {{fooditem.calories}}</h6> </h5></td>
      <td><h5></h5> </td>
      <td></td>
      <td> <h6>{{fooditem.price}}</h6> </td>
    </tr>
    </tbody>
    <tfoot>
      <tr >
        <th scope="col" ><button type="button" class="btn btn-dark btn-lg">CheckOut</button></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
       
        <th scope="col"></th>
        <th scope = "col"><h4 matLine>Total: ${{total | currency:[USD]}}</h4></th>
       
      </tr>
      </tfoot> 
  </table>
</mat-card>

<mat-card >
  <mat-list-item role="listitem"><img src="https://assets.secure.checkout.visa.com/wallet-services-web/xo/button.png?width=218&amp;height=47&cobrand=false&svg=true&legacy=false" alt=""></mat-list-item>
  <mat-list-item role="listitem"> <button mat-raised-button color="primary">CheckOut</button></mat-list-item>
</mat-card>


</body>


<app-footer></app-footer>