<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </header>
  
  <app-header></app-header>
  <br><br><br><br><br>

      <div>

        <mat-tab-group (selectedTabChange)="tabGroupDispatcher($event)">

            <mat-tab class = "statlabels" label="Food Analytics">
                <div class="chart-container" style="
                    position:relative; height:77vh ">
                    <canvas  style="color: white" #foodChart>{{ foodchart }} 
                    
                    <!-- [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"> -->
                    </canvas>
                  </div>
            
            
                  
            </mat-tab>
            <mat-tab label="Customer's Purchase Analytics">
                
            
                <div class="chart-container" style="
                position:relative; height:77vh ">
                    <canvas #customerpurchasechart>{{ customerpurchasechart }} 
                    style="color: white;"
                    <!-- [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"> -->
                    </canvas>
                  </div>
                   
            </mat-tab>
            <mat-tab label="Customer's Purchase History"> 


<div id="whole">
    <div id="segment">
        <mat-accordion class="example-headers-align" *ngFor="let customer of getKeys(customersmap); index as i" >
            <!--Deals panel-->
            <mat-expansion-panel [expanded]="step === i"  id = "{{'panel' + i}}"
            (afterExpand)="openCustomerPanel(i)" (opened)="step = i" hideToggle class="border border-light">
                <!-- Header for this panel -->
                <mat-expansion-panel-header>
                    <mat-panel-title>Username: {{customer}}</mat-panel-title>
                    <mat-panel-description>Name: {{customers[i].fname}} {{customers[i].lname}} </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="holder" *ngFor = "let bill of allpreviouscurrentcustomerbills; index as x;">
                    <!-- initial card -->

                    <mat-expansion-panel [expanded]="stepfood === x" id = "{{'panelfood' + x}}"
                     (opened)="openCustomerFoodsPanel(bill, x)" hideToggle class="border border-light"> 
                        <!-- Header for this panel -->
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{bill.orderDate}}</mat-panel-title>
                            <mat-panel-description>{{bill.total}} </mat-panel-description>
                        </mat-expansion-panel-header>
        



                        <div>
                          <mat-card style="height:100px" *ngFor = "let foods of allbillfoodamountscurrentcustomer">
                            <mat-card-title>{{foods.name}}</mat-card-title> 
                            <span style="min-width: 60%; height: 80%; word-wrap:break-word;">
                                <h3 style=" width: 30%; float:right">Price: {{foods.price | currency}}</h3>
                            </span>

                        </mat-card>
                        <br><br>
    
                          <p style="font-size:35px; color:black; float:right;">Total: ${{bill.total}}</p>
                          </div>
            

                </mat-expansion-panel>






                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>



















            </mat-tab>
            <mat-tab label="Create Food item"> 
              <app-confirmationbox (myEvent)="emittedValueDialogBox($event)" [showcancel] = "'true'" [accept]="'Accept'" [cancel]="'Cancel'" [title]="'title'" [content]="'content'"></app-confirmationbox>
            </mat-tab>
          </mat-tab-group>
  
      </div>

      <br><br><br>

      <app-footer></app-footer>