<header class = "header" style="height:6.5%; position: absolute; top:0; width:100%">
    <div class = "image"></div> 
    <p style = "color:white; text-align: center; font-size: 25px; margin:10px">Angular Slice!</p>
<!-- 
    <button (click) = "showHome()">Home</button>
    <button (click) = "showMenu()">Menu</button>
    <button (click) = "showCheckout()">Checkout</button>
    <button (click) = "showContact()">Contact</button>
    
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/menu" routerLinkActive="active">Menu</a>
        <a routerLink="/menu" routerLinkActive="active">Checkout</a>
        <a routerLink="/menu" routerLinkActive="active">Contact</a>
      </nav> -->


    <!-- <div style="position:absolute; top: 0;">
    
      <div>
        <button mat-button [matMenuTriggerFor]="menu1" >Menu</button>
         
        <mat-menu #menu1="matMenu" overlapTrigger="false" class = "menu" style = "width: 3000px">
           <div style="display: flex; justify-content: flex-start;">
            <button mat-menu-item routerLink="/home" class = "button">Home</button>
            <button mat-menu-item routerLink="/order" class = "button">Order</button>
            <button mat-menu-item routerLink="/checkout" class = "button">Checkout</button>
            <button mat-menu-item routerLink="/contact" class = "button">Contact</button>
          </div>
       </mat-menu>
       </div> -->
    
       <!-- <div>    
      <button mat-button [matMenuTriggerFor]="menu2" class = "login" style="display: flex; justify-content: flex-start;">Login to your Angular Slice Account!</button>
      <mat-menu #menu2="matMenu" overlapTrigger = "false">
        
        <div >
          <button mat-menu-item routerLink="/login">Login</button>
          <button mat-menu-item routerLink="/update">Update Account</button>
          <button mat-menu-item routerLink="/displayaccount">Display Account</button>
          <button mat-menu-item routerLink="/logout">Logout</button>
        </div>
       
      </mat-menu>
    </div>   


    </div> -->
    <span style="width:100%; display: inline-block; position: absolute; top:0">

    <mat-tab-group style="float:left" (selectedTabChange)="showPages($event)"
    [selectedIndex]="selectedIndex">
      <mat-tab label ="First"></mat-tab>
      <mat-tab label ="Second"></mat-tab>
      <mat-tab label ="Third"></mat-tab>
      <mat-tab label ="Fourth"></mat-tab>
    </mat-tab-group>

    <!-- <mat-tab-group style="float:right">
      <mat-tab label="First"></mat-tab>
      <mat-tab label="Second"></mat-tab>
      <mat-tab label="Third"></mat-tab>
    </mat-tab-group> -->
  </span>
   


</header>