<header class="header" style="height:14%; position: absolute; top:0; width:100%">
  <div class="image"></div>

  <!-- 
    <button (click) = "showHome()">Home</button>
    <button (click) = "showMenu()">Menu</button>
    <button (click) = "showCheckout()">Checkout</button>
    <button (click) = "showContact()">Contact</button>
    
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/menu" routerLinkActive="active">Menu</a>
        <a routerLink="/menu" routerLinkActive="active">Checkout</a>
        <a routerLink="/menu" routerLinkActive="active">Contact</a>
      </nav> -->


  <!-- <div style="position:absolute; top: 0;">
    
      <div>
        <button mat-button [matMenuTriggerFor]="menu1" >Menu</button>
         
        <mat-menu #menu1="matMenu" overlapTrigger="false" class = "menu" style = "width: 3000px">
           <div style="display: flex; justify-content: flex-start;">
            <button mat-menu-item routerLink="/home" class = "button">Home</button>
            <button mat-menu-item routerLink="/order" class = "button">Order</button>
            <button mat-menu-item routerLink="/checkout" class = "button">Checkout</button>
            <button mat-menu-item routerLink="/contact" class = "button">Contact</button>
          </div>
       </mat-menu>
       </div> -->

  <!-- <div>    
      <button mat-button [matMenuTriggerFor]="menu2" class = "login" style="display: flex; justify-content: flex-start;">Login to your Angular Slice Account!</button>
      <mat-menu #menu2="matMenu" overlapTrigger = "false">
        
        <div >
          <button mat-menu-item routerLink="/login">Login</button>
          <button mat-menu-item routerLink="/update">Update Account</button>
          <button mat-menu-item routerLink="/displayaccount">Display Account</button>
          <button mat-menu-item routerLink="/logout">Logout</button>
        </div>
       
      </mat-menu>
    </div>   


    </div> -->

  
    <div style="width:100%; display: inline-block; text-align: center;height:6%">
      <img src="https://i.imgur.com/MtVj8wa.png" style="width:35%; height:50px">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="outline: none;color:white;right:0vmax ;position: absolute; top: 0px;">
        <mat-icon >more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="outline: none;" (click) = "login()">
          <mat-icon style="color: white;">account_box</mat-icon>
          <span style="color: white;">Login</span>
        </button>
        <button mat-menu-item style="outline: none;" class="open-button" onclick="openForm()">
          <mat-icon style="color: white;">account_circle</mat-icon>
          <span style="color: white;">Create Account</span>
        </button>

      </mat-menu>
    </div>

    <div style="width:100%; display: inline-block; height:6%; margin:1.3vmax"  class="row d-flex justify-content-center" >

    <nav mat-tab-nav-bar id="nav_bar">
      <a  [active]="rla.isActive" class = "links" routerLinkActive #rla="routerLinkActive" mat-tab-link routerLink="/home"> Home </a>
      <a  [active]="rla1.isActive" class = "links" routerLinkActive #rla1="routerLinkActive" mat-tab-link routerLink="/order"> Order </a>
      <a  [active]="rla2.isActive" class = "links" routerLinkActive #rla2="routerLinkActive" mat-tab-link routerLink="/checkout"> Checkout </a>
      <a  [active]="rla3.isActive" class = "links" routerLinkActive #rla3="routerLinkActive" mat-tab-link routerLink="/contact"> Contact </a>
    </nav>
    
    
    <div>
      <mat-card class = "rounded" id = "logpage">
        <mat-card-content>
          <p>You are logged in as:</p>
          <p>{{loginInfo}}</p>
        </mat-card-content>
      </mat-card>
    </div>

    </div>

    <!-- <mat-tab-group style="float:right">
      <mat-tab label="First"></mat-tab>
      <mat-tab label="Second"></mat-tab>
      <mat-tab label="Third"></mat-tab>
    </mat-tab-group> -->

  

  <!-- <div style="position:absolute; top: 0;">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/order">Order</button>
      <button mat-menu-item routerLink="/checkout">Checkout</button>
      <button mat-menu-item routerLink="/contact">Contact</button>

    </mat-menu>

  </div> -->


</header>