<header class = "header">
    <div class = "image"></div> 
    <p>Angular Slice!</p>
<!-- 
    <button (click) = "showHome()">Home</button>
    <button (click) = "showMenu()">Menu</button>
    <button (click) = "showCheckout()">Checkout</button>
    <button (click) = "showContact()">Contact</button>
    
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/menu" routerLinkActive="active">Menu</a>
        <a routerLink="/menu" routerLinkActive="active">Checkout</a>
        <a routerLink="/menu" routerLinkActive="active">Contact</a>
      </nav> -->

      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">Home</button>
        <button mat-menu-item routerLink="/menu">Menu</button>
        <button mat-menu-item routerLink="/checkout">Checkout</button>
        <button mat-menu-item routerLink="/contact">Contact</button>
      </mat-menu>
  
    </header>