<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</header>

<body>
    <h1 style="text-align: center;"> Contact </h1>
    
    <div class="container" style="float:left; width:50%">
        <h2 style="width: 50%">Our Locations: </h2>
    <div #mapContainer id="map" style = "width: 50%;"></div>

</div>

<div class="container" style="float:right;width:50%">
    <h2 style="width: 50%;">Charlotte Branch: </h2>
    <h2 style="width: 50%; text-align: center;">61Bo: </h2>
    <h2 style="width: 50%; text-align: center;">email: tpo@gmail.com</h2>

</div>

</body>